.sensor_button_none {
  display: none;
}

.sensor_borderline {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sensor_initial_black {
  display: none;
}

.sensor_video_capture {
  display: none;
}

.sensor_overlay {
  z-index: 10;
  margin-top: -360px;
}
